html,
body{
	position: static;
	height:100%;
}

body {
	font-size: 1.6em;
}

a {
	text-decoration:underline;
}

img {
	width:100%;
	max-width:200px;
	height:auto;
}

#header a,#footer a {
	color:white;
}

#footer a {
	display: inline-block;
	font-size: 0.9em;
	margin-left:10px;
}

.h1 {
	font-size: 2.2em;
}

.container {
	width: 90%;
}

@media screen and (min-width:1024px){
	#header .container,
	#footer .container {
		max-width: 1013px;
	}
	
	#rowForm {
	width: 603px;
	float:right;
	}
	
	#helpCont {
		width: 410px;
		padding: 30px;
		float:left;
	}
}

#site {
	height:100%;
	width:100%;
	padding:0px;
}

#header {
	background-color:#524f7c;
	width:100%;
	color:white;
	padding-top:20px;
}

#header .container {
	height: 50%;
}

#mainContainer {
	height:100%;
	width:100%;

}

#footer {
	position: fixed;
	bottom:0;
	height:60px;
	background-color:#524f7c;
	width:100%;
	padding-top:20px;
}

.row {
	height:100%;
}

#help {
	background-color:#f7f7f9;
	height:100%;
	padding-right:0px;
	margin-right:0px;
}

.help-padding {
	padding:0px 34px 0px;
}

.container-form {
	margin-top:20px;
	
}

.btn-default, .btn-default:focus {
	background-color: #7274a5;
	border: none;
	color:white;
	border-radius:20px;
	padding-left:20px;
	padding-right:20px;
}

.btn-default:hover {
	background-color: #9487BF;
	border-color: #9487BF;
	color:white;
}

.control-label {
	text-align:left !important;
}

.btn:focus {
	box-shadow:none !important;
}

.btn-primary, .btn-primary:focus {
	background-color: #7274a5;
	border: none;
	padding-left:40px;
	padding-right:40px;
}

.btn-primary:hover {
	background-color: #746999;
	border-color: #746999;
}

.info {
	font-size:0.7em;
	color: lightgray;
}

.col-sm-2 input[type="text"] {
	border-color:#9f95ae;
}

.colored:disabled {
	background-color: #f1eff2;
	border:0px;
}

#mainContainer a {
	color:#4a3e7e;
}

.warning {
	margin-bottom: 30px;
	padding:20px 34px 20px;
	background-color: #f8eff2;
	color:red;
}

.warning-text {
	font-size:0.8em;
}


@media screen and (min-width:1024px){
	.mainTable {
		max-width:1020px;
		width:auto;
	}
}

.mainTable {
	padding-top:30px;
}

.mainTable a{
	color:#8a81ba;
	font-size:0.8em;
}

td {
	border:0px solid black !important;
}

td:nth-child(7) {
	background-color:#F4F3FA;
}

th {
	border-top: 2px solid lightgray !important;
}

#formInline {
	 margin-bottom:10px;
}

.btn-link, .btn-link:hover {
	color:#4a3e7e;
	font-size:1em;
}

.alert {
	width:400px;
	margin:0px;
	padding:0px;
	color:red;
}

.main-form {
	width:374px;
	height:38px;
}

.main-number {
	width:105px;
	height:38px;
}